{% extends 'template.html.twig' %}

{% block PageTitle %}
    Inscription
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-lg btn-primary mt-2">Register</button>
            {{ form_end(registrationForm) }}
        </div>
</div>


    {% endblock %}
