{% extends 'template.html.twig' %}
{% block title %}
    Liste des Editeurs
{% endblock %}

{% block PageTitle %}
    Liste des Editeurs
{% endblock %}

{% block body %}
{#<div class="row">#}
{#    {% for  editor in editors %}#}
{#    <div class="card" style="width: 18rem;">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">{{ editor.firstname }}</h5>#}
{#            <h6 class="card-subtitle mb-2 text-muted">{{ editor.firstname }}{{ editor.email }}</h6>#}
{#            <a href="{{ path('editor.detail', {id: editor.id}) }}" class="card-link"><i class="fa-solid fa-circle-info"></i></a>#}
{#            {% if is_granted('ROLE_SUPER_ADMIN') %}#}
{#                <a href="{{ path('editor.delete', {id: editor.id}) }}" class="card-link"><i class="fa-solid fa-user-xmark"></i></a>#}
{#                <a href="{{ path('editor.edit', {id: editor.id}) }}" class="card-link"><i class="fa-solid fa-user-pen"></i></a>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#    {% endfor %}#}
{#    {% if isPaginated %}#}
{#        <div class="row mt-2">#}
{#            <nav aria-label="col Page navigation example">#}
{#                <ul class="pagination">#}
{#                    {% if page != 1 %}#}
{#                        <li class="page-item">#}
{#                            <a#}
{#                              class="page-link"#}
{#                              href="{{path('editor.list.alls', {page: page-1, nbre: nbre})}}">Previous</a></li>#}
{#                    {% endif %}#}
{#                    {%  for i in range(1, nbrePage) %}#}
{#                        <li class="page-item">#}
{#                            <a class="page-link"#}
{#                               href="{{path('editor.list.alls', {page: i, nbre: nbre})}}"#}
{#                               >{{ i }}#}
{#                            </a>#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                    {% if page != nbrePage %}#}
{#                        <li class="page-item">#}
{#                            <a#}
{#                                    class="page-link"#}
{#                                    href="{{path('editor.list.alls', {page: page+1, nbre: nbre})}}">Next</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </nav>#}
{#        </div>#}

{#    {% endif %}#}
{#</div>#}

{#    *******************#}

<div class="container mt-4">
            {% for message in app.getFlashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="card">
                <div class="card-body">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Firstname</th>
                            <th scope="col">Job</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for editor in editors %}
                            <tr class="table-primary">
                                <th scope="row">{{ editor.id }}</th>
                                <td>{{editor.firstname }}</td>
                                <td>{{ editor.job }}</td>
                                <td>{{ editor.email }}</td>
                                <td>
                                    <a href="{{ path('editor.edit', { id: editor.id }) }}" class="btn btn-info">Edit</a>
                                </td>
                                <td>
                                    <a href="{{ path('editor.detail', { id: editor.id }) }}" class="btn btn-info">View</a>
                                </td>
                                <td>
                                    <a href="{{ path('editor.delete', { id: editor.id }) }}" class="btn btn-warning">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
    <div class="col-12 pb-1 pagination justify-content-center mb-3">
        {% if isPaginated %}
            <div class="row mt-2">
                <nav aria-label="col Page navigation example">
                    <ul class="pagination">
                        {% if page != 1 %}
                            <li class="page-item">
                                <a
                                        class="page-link"
                                        href="{{path('editor.list.alls', {page: page-1, nbre: nbre})}}">Previous</a></li>
                        {% endif %}
                        {%  for i in range(1, nbrePage) %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{path('editor.list.alls', {page: i, nbre: nbre})}}"
                                >{{ i }}
                                </a>
                            </li>
                        {% endfor %}
                        {% if page != nbrePage %}
                            <li class="page-item">
                                <a
                                        class="page-link"
                                        href="{{path('editor.list.alls', {page: page+1, nbre: nbre})}}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        {% endif %}
    </div>
        </div>

{% endblock %}




