{% extends 'template.html.twig' %}

{% block body %}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Show Admin</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Show Admin</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
<div class="container mt-4">

            <div class="card">


                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for editor in editors %}
                            <tr class="table-primary">
                                <th scope="row">{{loop.index}}</th>
                                <td>{{ editor.email }}</td>
                                <td>
                                    <a href="{{ path('editor.edit', { id: editor.id }) }}" class="btn btn-info">Edit</a>
                                </td>
                                <td>
                                    <a href="{{ path('editor.detail', { id: editor.id }) }}" class="btn btn-info">View</a>
                                </td>
                                <td>
                                    <a href="{{ path('editor.delete', { id: editor.id }) }}" class="btn btn-warning">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
    <div class="col-12 pb-1 pagination justify-content-center mb-3">
        {% if isPaginated %}
            <div class="row mt-2">
                <nav aria-label="col Page navigation example">
                    <ul class="pagination">
                        {% if page != 1 %}
                            <li class="page-item">
                                <a
                                        class="page-link"
                                        href="{{path('editor.list.alls', {page: page-1, nbre: nbre})}}">Previous</a></li>
                        {% endif %}
                        {%  for i in range(1, nbrePage) %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{path('editor.list.alls', {page: i, nbre: nbre})}}"
                                >{{ i }}
                                </a>
                            </li>
                        {% endfor %}
                        {% if page != nbrePage %}
                            <li class="page-item">
                                <a
                                        class="page-link"
                                        href="{{path('editor.list.alls', {page: page+1, nbre: nbre})}}">Next</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        {% endif %}
    </div>
</div></div></div>

{% endblock %}




