{% extends 'template.html.twig' %}



{% block body %}

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <div class="container-fluid pt-5">
    <div class="row px-xl-5">
    <div class="col-lg-8">
        <div class="mb-4">
        <h4 class="font-weight-semi-bold mb-4"> Billing Address</h4>
        {% set formHtml %}
            {{ form_start(form, {action:path('order_recap')}) }}
            {{ form_end(form) }}
        {% endset %}
        {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
            <div class="row">

            </div>
        </div>
    </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>



                        {% set total = null %}
                        {% for key,product in cart %}
                        <div class="d-flex justify-content-between" {% if key > 0 %}mt-2{% endif %}>
                            <p>{{ product.product.name }}</p>
                            <p>{{ product.product.price }} x{{ product.quantity }}</p>
                        </div>
                            {% set total = total + (product.product.price * product.quantity) %}

                        {% endfor %}
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">{{ total }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">8 Dt</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{ total + 8 }} Dt</h5>
                        </div>
                    </div>
                </div>



                </div>
            </div>
                    </div>

                </div>
                </div>
            </div>
    </div>
    {{ form_end(form) }}
        </div>
    </div>
{% endblock %}